[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=HamoniKR WebDisk
Name[ko]=하모니카 드라이브
Comment=Visit to HamoniKR WebDisk
Comment[ko]=하모니카 드라이브 바로가기
Icon=hamonikr-drive
Exec=sh -c 'xdg-open https://drive.hamonikr.org/'
Terminal=false
Categories=Network;WebBrowser;